# ========================
# 👤 Fichiers personnels
# ========================
/docs
TASK.md
OCMovies-API-EN-FR/db.sqlite3.bkp


# ========================
# 🧠 Environnements virtuels
# ========================
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# ========================
# 🐍 Python
# ========================
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
*.manifest
*.spec

# Coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Mypy / Ruff / LSP
.mypy_cache/
.ruff_cache/
.pytype/
.pyre/
.dmypy.json
dmypy.json
pyrightconfig.json

# Sphinx
docs/_build/

# Celery
celerybeat-schedule
celerybeat.pid

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask
instance/
.webassets-cache

# Scrapy
.scrapy

# Jupyter / IPython
.ipynb_checkpoints
profile_default/
ipython_config.py

# Cython debug
cython_debug/

# PEP 582
__pypackages__/

# Poetry
poetry.toml
#poetry.lock

# PDM
.pdm.toml
#pdm.lock

# ========================
# 💻 Visual Studio Code
# ========================
.vscode/
.idea/
.history/
.ionide

# Autoriser uniquement certains fichiers utiles dans .vscode :
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# ========================
# 🪟 Windows & macOS
# ========================
# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.cab
*.msi
*.msix
*.msm
*.msp
*.stackdump
*.lnk
$RECYCLE.BIN/
Desktop.ini

# macOS
.DS_Store
__MACOSX

# ========================
# 🎞️ Autres fichiers binaires ou temporaires
# ========================
*.sqlite3
*.lock
*.log
*.tmp
*.bak

# Optionnel : médias ou exports non versionnés
*.png
*.jpg
*.jpeg
*.gif
*.mp4
*.mov
