/* ===========================
   Minimal reset pour Chrome,
   Firefox et Safari
   =========================== */

/* 1. Box-sizing + suppression des marges/paddings */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 2. Corps de page */
html, body {
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;/* évite le zoom automatique sur iOS */
}

/* 3. Titres, paragraphes et listes */
h1, h2, h3, p, ul{
  margin: 0;                     
}
ul{
  list-style: none;               
}

/* 4. Images et médias */
img, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* 6. Formulaires et boutons */
button {
  font: inherit;                  
  background: none;
  border: none;
  outline: none;
}

/* Met un encadrement net sur les images et boutons lorsqu'ils sont focus avec le clavier */
.movie-item img:focus-visible,
.movie-item .movie-button:focus-visible,
.movie-item .overlay:focus-visible,
.movie-item span:focus-visible,
.movie-info__btn:focus-visible {
    outline: 3px solid #ff9800;
    z-index: 2;
}

.dropdown-toggle:focus-visible { outline: 3px solid #ff9800; }
.dropdown-items li:focus-visible {
    outline: none;
    box-shadow: 0 0 0 3px #ff9800 inset;
    z-index: 2;
    position: relative;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 329px;
    min-width: 329px;
    width: 100%;
    margin: auto; 
    font-family: var(--oswald);
}

.btn {
    font-size: 14px;
    font-weight: var(--btn-font-weight);
    margin-top: 16px;
    border-radius: 25px;
    background-color: #FA0B0B;
    color: white;
    border: none;
    cursor: pointer;
    width: 91px;
    height: 40px;
    padding: 2px 4px 2px 4px;
    transition: background 0.3s;
}

.show-more-btn {
  display: block;
  margin: 32px auto 16px auto; 
  width: 214px;
}

.btn:hover {
    background-color: #d50000;
}

.movie-item.hidden {
    display: none;
}

.movie-item.visible {
    display: block;
}

.others-header-row {
  padding-top: 16px;
  padding-bottom: 32px;
}

  @media (min-width: 769px) {

.container{
    max-width: 620px;
    min-width: 620px;
    text-align: left;
}
.others-header-row {
  padding-top: 32px;
}
}

@media (min-width: 1025px) { 
.container{
    max-width: 837px;
    min-width: 837px;
    text-align: left;
}

.movie-item.hidden {
  display: block;
}

}