header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 137px;
    border: 1px solid black;
    background-color: rgb(var(--grey-color));
    margin-bottom: 16px;  
}

.header__logo-title {
    display: none;
}

@media (min-width: 768px) {

.header__logo-title {
    display: block;
    margin: auto;
    font-weight: 300;
    font-size: 40px;
    color: white;
} 

.container__header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    width: 620px;
    display: flex;                  /* logo + titre côte à côte */
    align-items: center;
    gap: 1rem;                      /* espace entre logo et texte */
    padding: 16px;
  }

header{
    margin-bottom: 32px;
  }

}

@media (min-width: 1024px) { 
.container__header {
    width: 100%;
    max-width: 837px;
}
}